@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model HomePageModels
@{
    ViewData["Title"] = "Shop";
}
@Html.Partial("InnerCategory")


<!-- CATEGORY SIMPLE SECTION -->
<section class="category-simple-section">
    <div class="w-layout-blockcontainer container w-container">
        <div id="w-node-f59d52bf-6707-8963-6b34-7e24e8407817-352d8d5d" class="product-simple-wrap">
            <div class="w-dyn-list">
                <div role="list" class="grid-product-split w-dyn-items">
                    <!-- PRODUCT ITEM 1 -->
                    <div role="listitem" class="w-dyn-item">
                        <a data-w-id="04e1353a-1709-d5fd-b655-09a804111d26" href="/product/new-tools-wood-cutter" class="product-item w-inline-block">
                            <div class="product-image-wrap">
                                <img alt="New tools wood cutter" loading="lazy" src="~/images/RTX5090.png" class="product-image" />
                                <div class="product-budge"></div>
                                <div class="product-button-item-wrap"><div class="button-dark">@Localizer["Shop"]</div></div>
                                <div class="product-hover-overlay"></div>
                            </div>
                            <div class="product-info-wrap">
                                <h2 class="product-title">@Localizer["nvidia"] RTX5090</h2>
                                <div class="product-price-wrap">
                                    <div class="product-price">$ 1,890.00 USD</div>
                                    <div class="compare-price">$ 2,000.00 USD</div>
                                </div>
                            </div>
                        </a>
                    </div>
                   @*  @foreach (var complist in Model.Complists)
                    {
                        string base64 = Convert.ToBase64String(complist.ImagePath);
                        string imageSrc = $"data:image/jpg;base64,{base64}";
                        <div role="listitem" class="w-dyn-item">
                            <a data-w-id="a16c9442-6d4b-2198-250f-3ba8a8cec759" href="/product/spray-gun-hvlp-gravity-feed" class="product-item w-inline-block">

                                <div class="product-image-wrap">
                                    <img alt="image"
                                         loading="lazy"
                                         data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                                         src="@imageSrc"
                                         sizes="(max-width: 479px) 94vw, (max-width: 991px) 46vw, (max-width: 1279px) 25vw, (max-width: 1439px) 22vw, 21vw"
                                         class="product-image" />
                                    <div style="opacity:0" class="product-button-item-wrap"><div class="button-dark">Shop now</div></div>
                                    <div style="opacity:0" class="product-hover-overlay"></div>
                                </div>
                                <div class="product-info-wrap">
                                    <h2 class="product-title">@complist.Title</h2>
                                    <div class="product-price-wrap">
                                        <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="product-price">@complist.KZTPrice</div>

                                    </div>
                                </div>
                            </a>
                        </div>
                    } *@
                    <!-- PRODUCT ITEM 2 -->
                    <div role="listitem" class="w-dyn-item">
                        <a data-w-id="04e1353a-1709-d5fd-b655-09a804111d26" href="/product/gearo-15-inch-plastic-tool-bag" class="product-item w-inline-block">
                            <div class="product-image-wrap">
                                <img alt="Gearo 15-inch plastic tool bag" loading="lazy" src="~/images/Gigabyte.png" class="product-image" />
                                <div class="product-budge"> </div>
                                <div class="product-button-item-wrap"><div class="button-dark">@Localizer["Shop"]</div></div>
                                <div class="product-hover-overlay"></div>
                            </div>
                            <div class="product-info-wrap">
                                <h2 class="product-title">@Localizer["MB"] Gigabyte B650 X AX V2</h2>
                                <div class="product-price-wrap">
                                    <div class="product-price">$ 220.00 USD</div>
                                    <div class="compare-price">$ 250.00 USD</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- PRODUCT ITEM 3 -->
                    <div role="listitem" class="w-dyn-item">
                        <a data-w-id="04e1353a-1709-d5fd-b655-09a804111d26" href="/product/electric-rotary-drill-machine" class="product-item w-inline-block">
                            <div class="product-image-wrap">
                                <img alt="Electric rotary drill machine" loading="lazy" src="~/images/kcas.png" class="product-image" />
                                <div class="product-budge"></div>
                                <div class="product-button-item-wrap"><div class="button-dark">@Localizer["Shop"]</div></div>
                                <div class="product-hover-overlay"></div>
                            </div>
                            <div class="product-info-wrap">
                                <h2 class="product-title">@Localizer["PSU"] AeroCool KCAS 1,000W</h2>
                                <div class="product-price-wrap">
                                    <div class="product-price">$ 175.00 USD</div>
                                    <div class="compare-price">$ 200.00 USD</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- PRODUCT ITEM 4 -->
                    <div role="listitem" class="w-dyn-item">
                        <a data-w-id="04e1353a-1709-d5fd-b655-09a804111d26" href="/product/ingco-power-tools" class="product-item w-inline-block">
                            <div class="product-image-wrap">
                                <img alt="Ingco power tools" loading="lazy" src="~/images/Fury.png" class="product-image" />
                                <div class="product-budge"></div>
                                <div class="product-button-item-wrap"><div class="button-dark">@Localizer["Shop"]</div></div>
                                <div class="product-hover-overlay"></div>
                            </div>
                            <div class="product-info-wrap">
                                <h2 class="product-title">@Localizer["SSD"] Kingston FURY Renegate 1tb</h2>
                                <div class="product-price-wrap">
                                    <div class="product-price">$ 80.00 USD</div>
                                    <div class="compare-price">$ 100.00 USD</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- PRODUCT ITEM 5 -->
                    <div role="listitem" class="w-dyn-item">
                        <a data-w-id="04e1353a-1709-d5fd-b655-09a804111d26" href="/product/7-in-1-magnetized-wrench" class="product-item w-inline-block">
                            <div class="product-image-wrap">
                                <img alt="7-in-1 magnetized wrench" loading="lazy" src="~/images/GamerPC.png" class="product-image" />
                                <div class="product-budge"></div>
                                <div class="product-button-item-wrap"><div class="button-dark">@Localizer["Shop"]</div></div>
                                <div class="product-hover-overlay"></div>
                            </div>
                            <div class="product-info-wrap">
                                <h2 class="product-title">@Localizer["GamingPC"]</h2>
                                <div class="product-price-wrap">
                                    <div class="product-price">$ 999.00 USD</div>
                                    <div class="compare-price"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- PRODUCT ITEM 6 -->
                    <div role="listitem" class="w-dyn-item">
                        <a data-w-id="04e1353a-1709-d5fd-b655-09a804111d26" href="/product/industrial-pneumatic-nailer-with-duo-glide-roller" class="product-item w-inline-block">
                            <div class="product-image-wrap">
                                <img alt="Industrial pneumatic nailer with duo glide roller" loading="lazy" src="~/images/OfficePc.png" class="product-image" />
                                <div class="product-budge"></div>
                                <div class="product-button-item-wrap"><div class="button-dark">@Localizer["Shop"]</div></div>
                                <div class="product-hover-overlay"></div>
                            </div>
                            <div class="product-info-wrap">
                                <h2 class="product-title">@Localizer["OfficePC"]</h2>
                                <div class="product-price-wrap">
                                    <div class="product-price">$ 400.00 USD</div>
                                    <div class="compare-price">$ 550.00 USD</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- PRODUCT ITEM 7 -->
                    <div role="listitem" class="w-dyn-item">
                        <a data-w-id="04e1353a-1709-d5fd-b655-09a804111d26" href="/product/adjustable-wrenches" class="product-item w-inline-block">
                            <div class="product-image-wrap">
                                <img alt="Adjustable wrenches" loading="lazy" src="~/images/MINIITX.jpg" class="product-image" />
                                <div class="product-budge"></div>
                                <div class="product-button-item-wrap"><div class="button-dark">@Localizer["Shop"]</div></div>
                                <div class="product-hover-overlay"></div>
                            </div>
                            <div class="product-info-wrap">
                                <h2 class="product-title">@Localizer["Gaming"] MiniITX ПК</h2>
                                <div class="product-price-wrap">
                                    <div class="product-price">$ 1,190.00 USD</div>
                                    <div class="compare-price"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- PRODUCT ITEM 8 -->
                    <div role="listitem" class="w-dyn-item">
                        <a data-w-id="04e1353a-1709-d5fd-b655-09a804111d26" href="/product/truflex-steel-tape-3" class="product-item w-inline-block">
                            <div class="product-image-wrap">
                                <img alt="Truflex steel tape" loading="lazy" src="~/images/WorkPC.png" class="product-image" />
                                <div class="product-budge"></div>
                                <div class="product-button-item-wrap"><div class="button-dark">@Localizer["Shop"]</div></div>
                                <div class="product-hover-overlay"></div>
                            </div>
                            <div class="product-info-wrap">
                                <h2 class="product-title">@Localizer["PC_work"]</h2>
                                <div class="product-price-wrap">
                                    <div class="product-price">$ 500.00 USD</div>
                                    <div class="compare-price"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    @foreach (var pc in Model.PCs)
                    {
                        string base64 = Convert.ToBase64String(pc.ImagePath);
                        string imageSrc = $"data:image/jpg;base64,{base64}";
                        <div role="listitem" class="w-dyn-item">
                            <a data-w-id="a16c9442-6d4b-2198-250f-3ba8a8cec759" href="/product/spray-gun-hvlp-gravity-feed" class="product-item w-inline-block">

                                <div class="product-image-wrap">
                                    <img alt="image"
                                         loading="lazy"
                                         data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                                         src="@imageSrc"
                                         sizes="(max-width: 479px) 94vw, (max-width: 991px) 46vw, (max-width: 1279px) 25vw, (max-width: 1439px) 22vw, 21vw"
                                         class="product-image" />
                                    <div style="opacity:0" class="product-button-item-wrap"><div class="button-dark">Shop now</div></div>
                                    <div style="opacity:0" class="product-hover-overlay"></div>
                                </div>
                                <div class="product-info-wrap">
                                    <h2 class="product-title">@pc.Title</h2>
                                    <div class="product-price-wrap">
                                        <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="product-price">@pc.ShowPrice</div>

                                    </div>
                                </div>
                            </a>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>