@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model HomePageModels
@{
    ViewData["Title"] = "Shop";
}
@Html.Partial("InnerCategory")


<!-- CATEGORY SIMPLE SECTION -->
<section class="category-simple-section">
    <div class="w-layout-blockcontainer container w-container">
        <div id="w-node-f59d52bf-6707-8963-6b34-7e24e8407817-352d8d5d" class="product-simple-wrap">
            <div class="w-dyn-list">
                <div role="list" class="grid-product-split w-dyn-items">
                    
                    @foreach (var component in Model.Components)
                    {
                        string base64 = Convert.ToBase64String(component.ImagePath);
                        string imageSrc = $"data:image/jpg;base64,{base64}";
                        
                        <div role="listitem" class="w-dyn-item">
                            <a data-w-id="04e1353a-1709-d5fd-b655-09a804111d26" href="/product/truflex-steel-tape-3" class="product-item w-inline-block">
                                <div class="product-image-wrap">
                                    <img loading="lazy" src="@imageSrc" class="product-image" />
                                    <div class="product-budge"></div>
                                    <div class="product-button-item-wrap"><div class="button-dark">@Localizer["Shop"]</div></div>
                                    <div class="product-hover-overlay"></div>
                                </div>
                                <div class="product-info-wrap">
                                    <h3 class="product-title">@component.Title</h3>
                                    <div class="product-price-wrap">
                                        <div class="product-price">@component.KZTPrice</div>
                                        
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                    @foreach (var pc in Model.PCs)
                    {
                        string base64 = Convert.ToBase64String(pc.ImagePath);
                        string imageSrc = $"data:image/jpg;base64,{base64}";
                        <div role="listitem" class="w-dyn-item">
                            

                                <div class="product-image-wrap">
                                    <img alt="image"
                                         loading="lazy"
                                         data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                                         src="@imageSrc"
                                         sizes="(max-width: 479px) 94vw, (max-width: 991px) 46vw, (max-width: 1279px) 25vw, (max-width: 1439px) 22vw, 21vw"
                                         class="product-image" />
                                    <div style="opacity:0" class="product-button-item-wrap"><div class="button-dark">Shop now</div></div>
                                    <div style="opacity:0" class="product-hover-overlay"></div>
                                </div>
                                <div class="product-info-wrap">
                                    <h2 class="product-title">@pc.Title</h2>
                                    <div class="product-price-wrap">
                                        <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="product-price">@pc.ShowPrice</div>

                                    </div>
                                </div>
                            
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>