@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<!-- START OF HERO INNER SECTION -->
<section class="hero-inner text-center">
	<div class="w-layout-blockcontainer container w-container">
		<div class="hero-inner-wrap"><h1 class="hero-inner-title">@Localizer["Shop"]</h1></div>
		<div class="hero-inner-overly"></div>
		<div class="category-hero-list-wrap">
			<a class="category-link" asp-controller="Shop" asp-action="Index">@Localizer["All"]</a>
			@* <a class="category-link" href="shop">@Localizer["All"]</a> *@

			<div class="w-dyn-list">
				<div role="list" class="category-wrap w-dyn-items">
					<div role="listitem" class="w-dyn-item"><a class="category-link" asp-controller="Category" asp-action="Components">@Localizer["Accessories"]</a></div>
					<div role="listitem" class="w-dyn-item"><a class="category-link" asp-controller="Category" asp-action="Ready">@Localizer["Ready-made PC builds"]</a></div>
					<div role="listitem" class="w-dyn-item"><a class="category-link" asp-controller="Category" asp-action="Office">@Localizer["Office PCs"]</a></div>
					<div role="listitem" class="w-dyn-item"><a class="category-link" asp-controller="Category" asp-action="Gaming">@Localizer["Gaming PC"]</a></div>
					@* <div role="listitem" class="w-dyn-item"><a class="category-link" asp-controller="Category" asp-action="Service">@Localizer["Service"]</a></div> *@
					@* <div role="listitem" class="w-dyn-item"><a class="category-link" asp-controller="Category" asp-action="Custom">@Localizer["Custom PC"]</a></div> *@
					@* <div role="listitem" class="w-dyn-item"><a class="category-link" href="components">@Localizer["Accessories"]</a></div>
					<div role="listitem" class="w-dyn-item"><a class="category-link" href="readypc">@Localizer["Ready-made PC builds"]</a></div>
					<div role="listitem" class="w-dyn-item"><a class="category-link" href="officepc">@Localizer["Office PCs"]</a></div>
					<div role="listitem" class="w-dyn-item"><a class="category-link" href="gamingpc">@Localizer["Gaming PC"]</a></div>
					<div role="listitem" class="w-dyn-item"><a class="category-link" href="service">@Localizer["Service"]</a></div>
					<div role="listitem" class="w-dyn-item"><a class="category-link" href="custompc">@Localizer["Custom PC"]</a></div> *@

				</div>
			</div>
		</div>
	</div>
</section>
<!-- END OF HERO INNER SECTION -->