@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = "About Us";
}
<!-- START OF ABOUT HERO SECTION -->
<section class="about-hero-section">
	<div class="w-layout-blockcontainer container w-container">
		<h1 class="about-hero-title text-center">@Localizer["Join"] <span class="primary-span">@Localizer["Life"]</span> @Localizer["Sweet"]</h1>
		<div class="w-layout-grid grid-about-hero">
			<div class="about-hero-image-wrap">
				<img src="~/images/Window.jpeg" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 991px) 96vw, (max-width: 1063px) 94vw, 1000px" alt="image" class="about-hero-image" />
			</div>
			<div class="about-hero-image-wrap">
				<img src="~/images/pcbuiltkid01.jpeg" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 991px) 96vw, (max-width: 1063px) 94vw, 1000px" alt="image" class="about-hero-image" />
			</div>
		</div>
	</div>
</section>
<!-- END OF ABOUT HERO SECTION -->
<!-- START OF COUNTER SECTION -->
<section class="counter-section">
	<div class="w-layout-blockcontainer container-medium w-container">
		<div class="w-layout-grid grid-counter">
			<div class="counter-wrap">
				<h2 class="counter-number">200<span class="primary-span">+</span></h2>
				<div>@Localizer["Product"]</div>
			</div>
			<div class="counter-wrap">
				<h2 class="counter-number">350<span class="primary-span">+</span></h2>
				<div>@Localizer["Clients"]</div>
			</div>
			<div class="counter-wrap">
				<h2 class="counter-number">5K<span class="primary-span">+</span></h2>
				<div>@Localizer["Reviews"]</div>
			</div>
			<div class="counter-wrap">
				<h2 class="counter-number">10<span class="primary-span">+</span></h2>
				<div>@Localizer["Experience"]</div>
			</div>
		</div>
	</div>
</section>
<!-- END OF COUNTER SECTION -->
<!-- START OF MARQUEE SECTION -->
<div class="marquee-simple-item">
	<div class="marquee-list">
		<div class="marquee-text">@Localizer["Marquee"]</div>
		<div class="marquee-dot"></div>
		<div class="marquee-text">@Localizer["Marquee"]</div>
		<div class="marquee-dot"></div>
		<div class="marquee-text">@Localizer["Marquee"]</div>
		<div class="marquee-dot"></div>
		<div class="marquee-text">@Localizer["Marquee"]</div>
		<div class="marquee-dot"></div>
		<div class="marquee-text">@Localizer["Marquee"]</div>
		<div class="marquee-dot"></div>
		<div class="marquee-text">@Localizer["Marquee"]</div>
		<div class="marquee-dot"></div>
		<div class="marquee-text">@Localizer["Marquee"]</div>
		<div class="marquee-dot"></div>
		<div class="marquee-text">@Localizer["Marquee"]</div>
		<div class="marquee-dot"></div>
		<div class="marquee-text">@Localizer["Marquee"]</div>
		<div class="marquee-dot"></div>
		<div class="marquee-text">@Localizer["Marquee"]</div>
		<div class="marquee-dot"></div>
		<div class="marquee-text">@Localizer["Marquee"]</div>
		<div class="marquee-dot"></div>
		<div class="marquee-text">@Localizer["Marquee"]</div>
		<div class="marquee-dot"></div>
		<div class="marquee-text">@Localizer["Marquee"]</div>
		<div class="marquee-dot"></div>
		<div class="marquee-text">@Localizer["Marquee"]</div>
		<div class="marquee-dot"></div>
	</div>
</div>
<!-- END OF MARQUEE SECTION -->
<!-- START OF ABOUT TABS SECTION -->
<section class="about-tab-simple-section">
	<div class="w-layout-blockcontainer container w-container">
		<h3 class="about-two-title"><span class="about-split-span"></span>@Localizer["About_split"] <span class="primary-span">PC-UN</span> @Localizer["About_bruh"]</h3>
		<div class="about-tabs w-tabs">
			<div class="about-tabs-menu w-tab-menu">
				<a data-w-tab="Tab 1" class="about-tab-dark-link w-inline-block w-tab-link"><div class="about-tab-title">@Localizer["Mission"]</div></a>
				<a data-w-tab="Tab 2" class="about-tab-dark-link w-inline-block w-tab-link w--current"><div class="about-tab-title">@Localizer["Liabilities"]</div></a>
				<a data-w-tab="Tab 3" class="about-tab-dark-link w-inline-block w-tab-link"><div class="about-tab-title">@Localizer["Appreciate"]</div></a>
			</div>
			<div class="w-tab-content">
				<div data-w-tab="Tab 1" class="w-tab-pane">
					<div class="about-tab-info">
						<div class="about-tab-detail">
							<p class="no-margin">@Localizer["Mis_span"]</p>
						</div>
						<div class="about-tab-image-wrap"><img src="~/images/pc-building021.png" loading="lazy" alt="image" class="about-tab-image" /></div>
					</div>
				</div>
				<div data-w-tab="Tab 2" class="w-tab-pane w--tab-active">
					<div class="about-tab-info">
						<div class="about-tab-detail">
							<p class="no-margin">@Localizer["About_tab"]</p>
						</div>
						<div class="about-tab-image-wrap"><img src="~/images/pc-parts.png" loading="lazy" alt="image" class="about-tab-image" /></div>
					</div>
				</div>
				<div data-w-tab="Tab 3" class="w-tab-pane">
					<div class="about-tab-info">
						<div class="about-tab-detail">
							<p class="no-margin">@Localizer["Tab_3"]</p>
						</div>
						<div class="about-tab-image-wrap"><img src="~/images/valuespc.png" loading="lazy" alt="image" class="about-tab-image" /></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END OF ABOUT TABS SECTION -->
@* <!-- START OF FEATURE TWO SECTION -->
<section class="feature-two-section section-spacing">
	<div class="w-layout-blockcontainer container w-container">
		<div class="w-layout-grid grid-feature">
			<div class="feature-item-wrap">
				<img src="~/images/feature-icon-01.svg" loading="lazy" alt="image" class="feature-icon" />
				<h3 class="feature-title">Бесплатная доставка</h3>
				<p class="no-margin">Воспользуйтесь удобством бесплатной доставки всех ваших заказов.</p>
			</div>
			<div class="feature-item-wrap">
				<img src="~/images/feature-icon-02.svg" loading="lazy" alt="image" class="feature-icon" />
				<h3 class="feature-title">Легкий возврат</h3>
				<p class="no-margin">Совершайте покупки с уверенностью, что наша простая политика возврата средств вам поможет.</p>
			</div>
			<div class="feature-item-wrap">
				<img src="~/images/feature-icon-03.svg" loading="lazy" alt="image" class="feature-icon" />
				<h3 class="feature-title">Онлайн поддержка</h3>
				<p class="no-margin">Наша специализированная команда онлайн-поддержки находится всего в одном клике от вас.</p>
			</div>
			<div class="feature-item-wrap">
				<img src="~/images/feature-icon-04.svg" loading="lazy" alt="image" class="feature-icon" />
				<h3 class="feature-title">Гибкая оплата</h3>
				<p class="no-margin">Мы понимаем, что гибкость имеет решающее значение, когда речь идет о платежах.</p>
			</div>
		</div>
	</div>
</section>
<!-- END OF FEATURE TWO SECTION --> *@