@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home Page";
}

<!-- HERO SECTION -->
<section class="simple-hero-section">
	<div class="w-layout-blockcontainer container w-container">
		<div class="hero-simple-wrap">
			<h1 class="hero-simple-title"> @Localizer["Nasslad"] <span class="primary-span"> @Localizer["Were"] </span> @Localizer["Job"] </h1>
			<div class="hero-simple-button-wrap">
				<a class="button-primary-1 w-button" asp-controller="Shop" asp-action="Index">@Localizer["View all products"] </a>
				<a href="/sale-product" class="button-white w-button">@Localizer["Sale"]</a>
			</div>
		</div>
		<div class="hero-simple-overly"></div>
	</div>
</section>

<!-- MARQUEE SECTION -->
<div class="marquee-item">
	<div class="marquee-list">
		<div class="marquee-text">@Localizer["First_sales"]</div>
		<div class="marquee-dot"></div>
		<div class="marquee-text">@Localizer["First_sales"]</div>
		<div class="marquee-dot"></div>
		<div class="marquee-text">@Localizer["First_sales"]</div>
		<div class="marquee-dot"></div>
		<div class="marquee-text">@Localizer["First_sales"]</div>
		<div class="marquee-dot"></div>
		<div class="marquee-text">@Localizer["First_sales"]</div>
		<div class="marquee-dot"></div>
		<div class="marquee-text">@Localizer["First_sales"]</div>
		<div class="marquee-dot"></div>
		<div class="marquee-text">@Localizer["First_sales"]</div>
		<div class="marquee-dot"></div>
		<div class="marquee-text">@Localizer["First_sales"]</div>
		<div class="marquee-dot"></div>
	</div>
</div>
<!-- END OF MARQUEE SECTION -->
<!-- START OF PRODUCT SECTION (Our Products) -->
<section class="product-section section-spacing">
	<div class="w-layout-blockcontainer container w-container">
		<div class="product-top-wrap">
			<h2 class="no-margin">Наши продукты</h2>
			<a class="button-dark w-button" asp-controller="Shop" asp-action="Index"> @Localizer["View all products"]</a>
		</div>
		<div class="w-dyn-list">
			<div class="grid-product w-dyn-items">
				<div class="w-dyn-item">
					<a href="/product/new-tools-wood-cutter" class="product-item w-inline-block">
						<div class="product-image-wrap">
							<img src="~/images/GamerPC.png" alt="New tools wood cutter" class="product-image" />
						</div>
						<div class="product-info-wrap">
							<h3 class="product-title">Игровой ПК</h3>
							<div class="product-price-wrap">
								<div class="product-price">$999.00 USD</div>
								<div class="compare-price">$1200.00 USD</div>
							</div>
						</div>
					</a>
				</div>
				<div class="w-dyn-item">
					<a href="/product/electric-rotary-drill-machine" class="product-item w-inline-block">
						<div class="product-image-wrap">
							<img src="~/images/OfficePc.png" alt="Electric rotary drill machine" class="product-image" />
						</div>
						<div class="product-info-wrap">
							<h3 class="product-title">Офисный ПК</h3>
							<div class="product-price-wrap">
								<div class="product-price">$400.00 USD</div>
								<div class="compare-price">$550.00 USD</div>
							</div>
						</div>
					</a>
				</div>
				<div class="w-dyn-item">
					<a href="/product/ingco-power-tools" class="product-item w-inline-block">
						<div class="product-image-wrap">
							<img src="~/images/MINIITX.jpg" alt="Ingco power tools" class="product-image" />
						</div>
						<div class="product-info-wrap">
							<h3 class="product-title">Игровой MiniITX ПК</h3>
							<div class="product-price-wrap">
								<div class="product-price">$1,190.00 USD</div>
								<div class="compare-price">$1,400.00 USD</div>
							</div>
						</div>
					</a>
				</div>
				<div class="w-dyn-item">
					<a href="/product/7-in-1-magnetized-wrench" class="product-item w-inline-block">
						<div class="product-image-wrap">
							<img src="~/images/WorkPC.png" alt="7-in-1 magnetized wrench" class="product-image" />
						</div>
						<div class="product-info-wrap">
							<h3 class="product-title">ПК для рабочих задач</h3>
							<div class="product-price-wrap">
								<div class="product-price">$500.00 USD</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END OF PRODUCT SECTION (Our Products) -->
<!-- START OF CTA SECTION -->
<section class="cta-section">
	<div class="w-layout-blockcontainer container w-container">
		<div class="cta-wrap">
			<div class="cta-overly"></div>
			<div class="w-layout-grid grid-cta">
				<div class="cta-title-wrap">
					<h3 class="cta-title"> Сохраните до <span class="primary-span">20%</span></h3>
					<p class="cta-description"> Просмотрите все скидки на наши сборки и выберите для себя. </p>
				</div>
				<div class="cta-button-wrap">
					<a href="/sale-product" class="button-white w-button">Сборки со скидкой </a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END OF CTA SECTION -->
<!-- START OF PRODUCT SECTION (Feature Collection) -->
<section class="product-section section-spacing-top">
	<div class="w-layout-blockcontainer container w-container">
		<div class="w-layout-grid grid-product-two">
			<div class="product-title-wrap">
				<div class="section-title"><h2>Комплектующие</h2></div>
				<a class="button-dark w-button" asp-controller="Shop" asp-action="Index">Магазин комплектующих</a>
			</div>
			<div class="product-slide-wrap">
				<div class="product-slider w-slider">
					<div class="product-mask w-slider-mask">
						<div class="product-slide w-slide">
							<div class="w-dyn-list">
								<div class="w-dyn-items">
									<div class="w-dyn-item">
										<a href="/product/ratchet-spanner-and-faced-hammer" class="product-item w-inline-block">
											<div class="product-image-wrap">
												<img src="~/images/RTX5090.png" alt="Ratchet spanner and faced hammer" class="product-image" />
											</div>
											<div class="product-info-wrap">
												<h3 class="product-title">Видеокарта Nvidia RTX5090</h3>
												<div class="product-price-wrap">
													<div class="product-price">$1,890.00 USD</div>
													<div class="compare-price">$2,000.00 USD</div>
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="product-slide w-slide">
							<div class="w-dyn-list">
								<div class="w-dyn-items">
									<div class="w-dyn-item">
										<a href="/product/yato-electrician-motor-cutter" class="product-item w-inline-block">
											<div class="product-image-wrap">
												<img src="~/images/Gigabyte.png" alt="YATO electrician motor cutter" class="product-image" />
											</div>
											<div class="product-info-wrap">
												<h3 class="product-title">Материнская плата Gigabyte B650 X AX V2 </h3>
												<div class="product-price-wrap">
													<div class="product-price">$220.00 USD</div>
													<div class="compare-price">$250.00 USD</div>
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="product-slide w-slide">
							<div class="w-dyn-list">
								<div class="w-dyn-items">
									<div class="w-dyn-item">
										<a href="/product/ingco-power-tools-and-hand-tools-cordless" class="product-item w-inline-block">
											<div class="product-image-wrap">
												<img src="~/images/kcas.png" alt="Ingco power tools and hand tools cordless" class="product-image" />
											</div>
											<div class="product-info-wrap">
												<h3 class="product-title">Блок питания AeroCool KCAS 1,000W </h3>
												<div class="product-price-wrap">
													<div class="product-price">$175.00 USD</div>
													<div class="compare-price">$200.00 USD</div>
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="product-slide w-slide">
							<div class="w-dyn-list">
								<div class="w-dyn-items">
									<div class="w-dyn-item">
										<a href="/product/corded-electric-rotary-machine" class="product-item w-inline-block">
											<div class="product-image-wrap">
												<img src="~/images/Fury.png" alt="Corded electric rotary machine" class="product-image" />
											</div>
											<div class="product-info-wrap">
												<h3 class="product-title">SSD Kingston FURY Renegate 1tb</h3>
												<div class="product-price-wrap">
													<div class="product-price">$80.00 USD</div>
													<div class="compare-price">$100.00 USD</div>
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="left-arrow w-slider-arrow-left">
						<img src="images/chevron-right.svg" alt="Previous" class="product-icon" />
					</div>
					<div class="right-arrow w-slider-arrow-right">
						<img src="images/chevron-left.svg" alt="Next" class="product-icon" />
					</div>
					<div class="slider-nav w-slider-nav w-round w-num"></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END OF PRODUCT SECTION (Feature Collection) -->
<!-- START OF CATEGORY SECTION -->
<section class="category-section section-spacing">
	<div class="container w-container">
		<div class="section-title"><h2>Категорий</h2></div>
		<div class="category-slider-wrap">
			<div class="category-slider w-slider">
				<div class="category-mask w-slider-mask">
					<div class="category-slide w-slide">
						<div class="w-dyn-list">
							<div class="w-dyn-items">
								<div class="w-dyn-item">
									<a href="/category/carpenter-tool" class="category-simple-item w-inline-block">
										<div class="category-simple-image-wrap">
											<img loading="lazy" src="~/images/RTX5090.png" class="category-simple-image" />
										</div>
										<h3 class="category-simple-title">Видеокарта</h3>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="category-slide w-slide">
						<div class="w-dyn-list">
							<div class="w-dyn-items">
								<div class="w-dyn-item">
									<a href="/category/painting-tool" class="category-simple-item w-inline-block">
										<div class="category-simple-image-wrap">
											<img loading="lazy" src="~/images/kcas.png" class="category-simple-image" />
										</div>
										<h3 class="category-simple-title">Блок питания</h3>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="category-slide w-slide">
						<div class="w-dyn-list">
							<div class="w-dyn-items">
								<div class="w-dyn-item">
									<a href="/category/power-tool" class="category-simple-item w-inline-block">
										<div class="category-simple-image-wrap">
											<img loading="lazy" src="~/images/Fury_RAM.png" class="category-simple-image" />
										</div>
										<h3 class="category-simple-title">Операвтивная память</h3>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="category-slide w-slide">
						<div class="w-dyn-list">
							<div class="w-dyn-items">
								<div class="w-dyn-item">
									<a href="/category/hand-tool" class="category-simple-item w-inline-block">
										<div class="category-simple-image-wrap">
											<img loading="lazy" src="~/images/Gigabyte.png" class="category-simple-image" />
										</div>
										<h3 class="category-simple-title">Материнская плата</h3>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="category-slide w-slide">
						<div class="w-dyn-list">
							<div class="w-dyn-items">
								<div class="w-dyn-item">
									<a href="/category/plumbing-tool" class="category-simple-item w-inline-block">
										<div class="category-simple-image-wrap">
											<img loading="lazy" src="~/images/Fury.png" class="category-simple-image" />
										</div>
										<h3 class="category-simple-title">SSD</h3>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="category-slide w-slide">
						<div class="w-dyn-list">
							<div class="w-dyn-items">
								<div class="w-dyn-item">
									<a href="/category/flathead-tool" class="category-simple-item w-inline-block">
										<div class="category-simple-image-wrap">
											<img loading="lazy" src="~/images/7800x3d.jpg" class="category-simple-image" />
										</div>
										<h3 class="category-simple-title">Процессор</h3>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="category-left-arrow w-slider-arrow-left"><img src="images/left-arrow.svg" loading="lazy" alt="image" class="slide-icon" /></div>
				<div class="category-right-arrow w-slider-arrow-right"><img src="images/right-arrow.svg" loading="lazy" alt="image" class="slide-icon" /></div>
				<div class="slider-nav w-slider-nav w-round w-num"></div>
			</div>
		</div>
	</div>
</section>
<!-- END OF CATEGORY SECTION -->
<!-- START OF NEW PRODUCT SECTION -->
<section class="new-product-section">
	<div class="container w-container">
		<div class="w-dyn-list">
			<div class="w-dyn-items">
				<div class="w-dyn-item">
					<div class="new-product-item">
						<div class="new-product-image-wrap">
							<img alt="image"
								 loading="lazy"
								 src="~/images/MINIITX.jpg"
								 sizes="(max-width: 479px) 94vw, (max-width: 991px) 96vw, (max-width: 1279px) 46vw, 45vw"
								 class="new-product-image" />
						</div>
						<div class="new-product-info">
							<div class="product-single-title-wrap">
								<div class="product-single-budge">Предложение недели</div>
								<h3 class="heading-h4">Игровой MiniITX ПК</h3>
								<div class="product-simple-price-wrap">
									<div class="product-price-wrap">
										<div class="product-simple-price">$ 1,190.00 USD</div>
										<div class="compare-price">$ 1,400.00 USD</div>
									</div>
									<div class="product-sale-off">15% off</div>
								</div>
							</div>
							<div class="product-divider"></div>
							<p class="product-detail">Мини-ПК формата ITX за $1400 — это мощная и компактная система, подходящая для игр, работы и контента. ПК легко разместить на столе, он тихий и энергоэффективный, но при этом достаточно мощный для игр в 1440p и работы с графикой.</p>
							<div>
								<form class="w-commerce-commerceaddtocartform no-margin">
									<label for="quantity">Количество</label>
									<input type="number"
										   id="quantity"
										   name="quantity"
										   min="1"
										   class="w-commerce-commerceaddtocartquantityinput product-simple-quantity"
										   value="1" />
									<input type="submit"
										   class="w-commerce-commerceaddtocartbutton button-outline add-button"
										   value="Привяжите карту" />
								</form>
								<div style="display:none" class="w-commerce-commerceaddtocartoutofstock empty-state">
									<div>Удобен в транспортировке.</div>
								</div>
								<div style="display:none" class="w-commerce-commerceaddtocarterror error-message">
									<div>Потянет даже Роблокс.</div>
								</div>
							</div>
							<div class="product-detail-wrap">
								<div class="product-item-wrap">
									<img alt="" loading="lazy" src="images/check-icon.svg" class="product-check-icon" />
									<div class="product-item-text">Удобен в транспортировке.</div>
								</div>
								<div class="product-item-wrap">
									<img alt="" loading="lazy" src="images/check-icon.svg" class="product-check-icon" />
									<div class="product-item-text">Потянет даже Роблокс.</div>
								</div>
								<div class="product-item-wrap">
									<img alt="" loading="lazy" src="images/check-icon.svg" class="product-check-icon" />
									<div class="product-item-text">Можно стримить без проблем</div>
								</div>
							</div>
							<a href="/product/gearo-15-inch-plastic-tool-bag" class="button-icon-link w-inline-block">
								<div class="button-icon-text">Дополнительная информация</div>
								<img src="images/button-arrow.svg" loading="lazy" alt="image" class="button-icon" />
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END OF NEW PRODUCT SECTION -->
<!-- START OF BLOG SECTION -->
<section class="blog-section section-spacing">
	<div class="container w-container">
		<div class="blog-top-wrap">
			<h2 class="no-margin">Обновления</h2>
			<a href="/blog" class="button-dark w-button">Просмотрите все блоги</a>
		</div>
		<div class="w-dyn-list">
			<div class="grid-blog w-dyn-items">
				<div class="w-dyn-item">
					<a href="/blog/the-latest-innovations-in-craftsmanship" class="blog-item w-inline-block">
						<div class="blog-image-wrap">
							<img alt="image"
								 loading="lazy"
								 src="~/images/rtx5000.png"
								 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 1279px) 46vw, 45vw"
								 class="blog-image" />
							<div class="blog-date">Март 12, 2025</div>
						</div>
						<div class="blog-info"><h3 class="blog-title">NVIDIA представила новую линейку видеокарт серий RTX 5000</h3></div>
					</a>
				</div>
				<div class="w-dyn-item">
					<a href="/blog/navigating-common-artisan-challenges" class="blog-item w-inline-block">
						<div class="blog-image-wrap">
							<img alt="image"
								 loading="lazy"
								 src="~/images/467817_O.jpeg"
								 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 1279px) 46vw, 45vw"
								 class="blog-image" />
							<div class="blog-date">Март 12, 2025</div>
						</div>
						<div class="blog-info"><h3 class="blog-title"> Intel выпустила 15-е поколение процессоров Core </h3></div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END OF BLOG SECTION -->
@* <!-- START OF FEATURE SIMPLE SECTION -->
<section class="feature-simple-section">
	<div class="w-layout-blockcontainer container w-container">
		<div class="w-layout-grid grid-feature-simple">
			<div id="w-node-_1e8eec1a-9669-8570-2dd7-52169201b861-abeac9fa" class="feature-simple-item-wrap">
				<img src="images/feature-icon-01.svg" loading="lazy" alt="image" class="feature-simple-icon" />
				<div class="feature-info">
					<h3 class="feature-title">@Localizer["shipping"]</h3>
					<p class="no-margin">@Localizer["shipping_message"]</p>
				</div>
			</div>
			<div id="w-node-_1e8eec1a-9669-8570-2dd7-52169201b867-abeac9fa" class="feature-simple-item-wrap">
				<img src="images/feature-icon-02.svg" loading="lazy" alt="image" class="feature-icon" />
				<div class="feature-info">
					<h3 class="feature-title">@Localizer["Refund"]</h3>
					<p class="no-margin">@Localizer["refund_mess"]</p>
				</div>
			</div>
			<div id="w-node-_1e8eec1a-9669-8570-2dd7-52169201b86d-abeac9fa" class="feature-simple-item-wrap">
				<img src="images/feature-icon-03.svg" loading="lazy" alt="image" class="feature-icon" />
				<div class="feature-info">
					<h3 class="feature-title">@Localizer["Support_"]</h3>
					<p class="no-margin">@Localizer["support_mess"]</p>
				</div>
			</div>
			<div id="w-node-_1e8eec1a-9669-8570-2dd7-52169201b873-abeac9fa" class="feature-simple-item-wrap">
				<img src="images/feature-icon-04.svg" loading="lazy" alt="image" class="feature-icon" />
				<div class="feature-info">
					<h3 class="feature-title">@Localizer["Payment"]</h3>
					<p class="no-margin">@Localizer["Pay_message"]</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END OF FEATURE SIMPLE SECTION --> *@