@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
	ViewData["Title"] = "Blog";
*@

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = "Blog";
}
<!-- START OF HERO INNER SECTION -->
<section class="hero-inner text-center">
	<div class="w-layout-blockcontainer container w-container">
		<div class="hero-inner-wrap"><h1 class="hero-inner-title">@Localizer["Blog"]</h1></div>
		<div class="hero-inner-overly"></div>
	</div>
</section>
<!-- END OF HERO INNER SECTION -->
<!-- START OF BLOG SECTION -->
<section class="blog-section">
	<div class="w-layout-blockcontainer container w-container">
		<div class="w-dyn-list">
			<div role="list" class="grid-blog w-dyn-items">
				<div role="listitem" class="w-dyn-item">
					<a href="/blog/the-latest-innovations-in-craftsmanship" class="blog-item w-inline-block">
						<div class="blog-image-wrap">
							<img alt="image"
								 loading="lazy"
								 src="~/images/rtx5000.png"
								 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 1279px) 46vw, 45vw"
								 class="blog-image" />
							<div class="blog-date">12 @Localizer["Date"], 2025</div>
						</div>
						<div class="blog-info"><h2 class="blog-title">@Localizer["Blog1"]</h2></div>
					</a>
				</div>
				<div role="listitem" class="w-dyn-item">
					<a href="/blog/navigating-common-artisan-challenges" class="blog-item w-inline-block">
						<div class="blog-image-wrap">
							<img alt="image"
								 loading="lazy"
								 src="~/images/467817_O.jpeg"
								 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 1279px) 46vw, 45vw"
								 class="blog-image" />
							<div class="blog-date">12 @Localizer["Date"], 2025</div>
						</div>
						<div class="blog-info"><h2 class="blog-title">@Localizer["Blog2"]</h2></div>
					</a>
				</div>
				<div role="listitem" class="w-dyn-item">
					<a href="/blog/shipping-strategies-for-e-commerce-success" class="blog-item w-inline-block">
						<div class="blog-image-wrap">
							<img alt="image"
								 loading="lazy"
								 src="~/images/pcl.jpeg"
								 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 1279px) 46vw, 45vw"
								 class="blog-image" />
							<div class="blog-date">12 @Localizer["Date"], 2025</div>
						</div>
						<div class="blog-info"><h2 class="blog-title">@Localizer["Blog3"]</h2></div>
					</a>
				</div>
				<div role="listitem" class="w-dyn-item">
					<a href="/blog/creating-irresistible-product-descriptions" class="blog-item w-inline-block">
						<div class="blog-image-wrap">
							<img alt="image"
								 loading="lazy"
								 src="~/images/pcsbor.png"
								 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 1279px) 46vw, 45vw"
								 class="blog-image" />
							<div class="blog-date">12 @Localizer["Date"], 2025</div>
						</div>
						<div class="blog-info"><h2 class="blog-title">@Localizer["Blog4"]</h2></div>
					</a>
				</div>
				<div role="listitem" class="w-dyn-item">
					<a href="/blog/the-art-of-upselling-and-cross-selling" class="blog-item w-inline-block">
						<div class="blog-image-wrap">
							<img alt="image"
								 loading="lazy"
								 src="~/images/9000.png"
								 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 1279px) 46vw, 45vw"
								 class="blog-image" />
							<div class="blog-date">12 @Localizer["Date"], 2025</div>
						</div>
						<div class="blog-info"><h2 class="blog-title">@Localizer["Blog5"]</h2></div>
					</a>
				</div>
				<div role="listitem" class="w-dyn-item">
					<a href="/blog/unleashing-the-power-of-social-commerce" class="blog-item w-inline-block">
						<div class="blog-image-wrap">
							<img alt="image"
								 loading="lazy"
								 src="~/images/vabor.jpeg"
								 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 1279px) 46vw, 45vw"
								 class="blog-image" />
							<div class="blog-date">12 @Localizer["Date"], 2025</div>
						</div>
						<div class="blog-info"><h2 class="blog-title">@Localizer["Blog6"]</h2></div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END OF BLOG SECTION -->